{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
{% block title %}
<title>Home</title>
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
table td{border:1px solid black}
</style>
</head>
<body>
<div id="home">
<table border="0" cellspacing="0" cellpadding="0">
<tr><td>业务员</td><td>业绩</td></tr>
{% for business_man in business_men %}
<tr><td>{{business_man.name}}</td><td>{{business_man.achievement}}</td></tr>
{% endfor %}
</table>
</div>
</body>
</html>